version: "3.9"
services:
  web:
    build: .
    entrypoint: []
    networks: [traefik-net]
    # Assess what ports are already in use by another app in the VM
    ports:
      - "8001:8000"
    # Search the name from WSGI in the settings file, ie WSGI_APPLICATION = 'stock_taking.wsgi.application'
    labels:
      - traefik.enable=true
      - traefik.http.routers.stock_taking.rule=Host(`stock-taking.mediaservers.co.uk`)
      - traefik.http.routers.stock_taking.entrypoints=web
      - traefik.http.services.stock_taking.loadbalancer.server.port=8000
    volumes:
      - /srv/static/stock_taking:/app/staticfiles
      - /srv/media/stock_taking:/app/media
    restart: unless-stopped
    command: [
      "gunicorn",
      "stock_taking.wsgi:application",
      "--bind",
      "0.0.0.0:8000",
      "--workers",
      "3",
      "--log-level",
      "debug",
      "--access-logfile",
      "-",
      "--error-logfile",
      "-"
    ]
    environment:
      DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
      SECRET_KEY: ${SECRET_KEY}
      DEBUG: ${DEBUG}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      DATABASE_URL: ${DATABASE_URL}
      GOOGLE_MAPS_API_KEY: ${GOOGLE_MAPS_API_KEY}
      WORKGURU_API_KEY: ${WORKGURU_API_KEY}
      WORKGURU_SECRET_KEY: ${WORKGURU_SECRET_KEY}

networks:
  traefik-net:
    external: true