.rr-stat-warning {
	color: var(--warning-color);
}

.rr-stat-success {
	color: var(--success-color);
}

.rr-stat-primary {
	color: var(--primary-color);
}

.rr-empty-cell {
	text-align: center;
	padding: 40px;
}
